@model SitemaUnicesumar.Models.LaboratoryReserveViewModel

<div class="col-12 col-lg-12">
    @Html.Hidden("Id", Model.Id)
    <div class="text-center">
        <img src="~/Assets/Images/info.svg" style="width: 57px; margin-bottom: 16px;" alt="icon" />
        <h4>Tem certeza que deseja cancelar está reserva?</h4>
    </div>
</div>
